<div ngClass="scoreboard">
  {{ sideBarDataHorses.nameRed }} mileage:&nbsp;
  <span ngClass="run">{{ sideBarDataHorses.mileageRed }}</span
  >&nbsp;&nbsp;&nbsp; {{ sideBarDataHorses.nameGreen }} mileage:&nbsp;
  <span ngClass="run">{{ sideBarDataHorses.mileageGreen }}</span
  >&nbsp;&nbsp;&nbsp; {{ sideBarDataHorses.nameBlue }} mileage:&nbsp;
  <span ngClass="run">{{ sideBarDataHorses.mileageBlye }}</span
  >&nbsp;&nbsp;&nbsp;TOTAL MILEAGE:&nbsp;<span ngClass="run">{{
    sideBarDataHorses.totalMileage
  }}</span>
</div>
