<div class="sideBar">
  <div class="scoreBox">
    <div class="score">ИГРОК:</div>
    <div
      class="score"
      style="color: black; background: radial-gradient(#ffffe0 0%, #bdb76b 70%)"
    >
      {{ messagePlayer }}{{ sideBarBJ.scorePlayer }}
    </div>
  </div>

  <div class="scoreBox">
    <div class="score">РЕЗУЛЬТАТ:</div>
    <div
      class="score"
      style="color: black; background: radial-gradient(#ffffe0 0%, #bdb76b 70%)"
    >
      {{ messageResult }}
    </div>
  </div>

  <div class="scoreBox">
    <div class="score">БАНКИР:</div>
    <div
      class="score"
      style="color: black; background: radial-gradient(#ffffe0 0%, #bdb76b 70%)"
    >
      {{ messageBankir }}{{ sideBarBJ.scoreBankirShow }}
    </div>
  </div>
</div>
